body {
    display: block;
    text-align: center;
    min-height: 100vh;
    background-image: url("/src/bkg2.jpg");
    margin: 0;
    padding: 8vh 0;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2em;
    margin: 0;
    user-select: none;
}

h2 {
    font-size: 1.6em;
    user-select: none;
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #ffffff80;
    height: 8vh;
    margin: 0 auto;
    border-bottom: 0.1em solid #e0e0e0;
    backdrop-filter: blur(1em);
    z-index: 2;
}

#block {
    width: 80%;
    height: 64%;
    background-color: #ffffff80;
    margin: 2em auto;
    border: 0.05em solid;
    border-color: #ffffff #b0b0b0 #b0b0b0 #ffffff;
    border-radius: 2em;
    padding: 1em 0;
}

span {
    font-size: 1.2em;
    user-select: none;
}

input {
    font-size: 1.2em;
    width: 50%;
    height: 1.6em;
    margin: 1em 0 0;
    border: 0.1em solid #579bb1;
    border-radius: 1em;
    padding: 0 0.8em;
}

#untip {
    text-align: left;
    width: 41%;
    height: 1.6em;
    background-color: #ffffff00;
    margin: 0.2em auto 0.8em;
}

#pwtip {
    text-align: left;
    width: 41%;
    height: 1.6em;
    background-color: #ffffff00;
    margin: 0.2em auto 0.8em;
}

#submit {
    width: 4em;
    height: 1.8em;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #579bb1;
    border: 0.1em solid #579bb1;
    border-radius: 1em;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
}

#smtip {
    width: 41%;
    height: 1.6em;
    background-color: #ffffff00;
    margin: 0.2em auto 0.8em;
}

.icon {
    width: 3.2em;
    height: 3.2em;
    background-color: #c0c0c0;
    border: 0.1em solid #579bb1;
    border-radius: 4em;
    padding: 0.8em;
}